<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API DO TEMPO</title>
   <link rel="stylesheet" href="/css/style.css"> 
   <link rel="stylesheet" href="/css/sobre.css">
</head>
<body class="pagina-sobre">

    <h2>Como está o tempo na sua cidade?</h2>


<div class="busca-container card">
  <input type="text" id="cidade-input" placeholder="Digite a cidade...">
  <button id="buscar-btn">Buscar o tempo</button>
</div>


<div id="info-tempo" class="card">
    Digite a cidade e clique em buscar para ver o tempo.
</div>

    
    <a href="/">Voltar para a página inicial</a>
    <script src="/js/sobre.js"></script>

</body>
</html>